In [8]:
import pandas as pd
import numpy as np

In [14]:
taxtable = pd.DataFrame(
    {
    'min': [0, 18201, 45001, 120001, 180001],
    'max': [18200, 45000, 120000, 180000, np.inf],
    'rate': [0, 0.19, 0.325, 0.37, 0.45]
    }
)
taxtable

      min       max   rate
0       0   18200.0  0.000
1   18201   45000.0  0.190
2   45001  120000.0  0.325
3  120001  180000.0  0.370
4  180001       inf  0.450

In [16]:
taxtable['bracket_tax'] = (taxtable['max'] - taxtable['min']) * taxtable['rate']
taxtable['cumsum'] = taxtable['max'].cumsum()
taxtable

      min       max   rate    cumsum  bracket_tax
0       0   18200.0  0.000   18200.0        0.000
1   18201   45000.0  0.190   63200.0     5091.810
2   45001  120000.0  0.325  183200.0    24374.675
3  120001  180000.0  0.370  363200.0    22199.630
4  180001       inf  0.450       inf          inf