In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
import numpy as np

In [7]:
from realpay.core import TaxTable, Tax

In [10]:
d = {
    "levy": 0.02,
    "valid_from": '2022-07-01',
    "valid_to": "2022-06-30",
    "country": "AUD",
    "state": "WA"
   # "currency": "AUD"
}

In [16]:
test = Tax(*d)

TypeError: Tax.__init__() takes 6 positional arguments but 7 were given

In [4]:
df = pd.DataFrame(
    {
    'min': [1,3],
    'max': [2, 'inf'],
    'rate': [0.1, 0.2]
    }
)

In [5]:
df.to_json('test')
df2 = pd.read_json('test')
df2

   min  max  rate
0    1  2.0   0.1
1    3  inf   0.2

In [6]:
taxtable = pd.DataFrame(
    {
    'min': [0, 18201, 45001, 120001, 180001],
    'max': [18200, 45000, 120000, 180000, np.inf],
    'rate': [0, 0.19, 0.325, 0.37, 0.45]
    }
)
taxtable

      min       max   rate
0       0   18200.0  0.000
1   18201   45000.0  0.190
2   45001  120000.0  0.325
3  120001  180000.0  0.370
4  180001       inf  0.450

In [7]:
taxtable['bracket_tax'] = (taxtable['max'] - taxtable['min']) * taxtable['rate']
taxtable['cumsum'] = taxtable['max'].cumsum()
taxtable

      min       max   rate  bracket_tax    cumsum
0       0   18200.0  0.000        0.000   18200.0
1   18201   45000.0  0.190     5091.810   63200.0
2   45001  120000.0  0.325    24374.675  183200.0
3  120001  180000.0  0.370    22199.630  363200.0
4  180001       inf  0.450          inf       inf

In [8]:
183200 == 120000 + 45000 + 18200

True

In [1]:
import yaml

ModuleNotFoundError: No module named 'yaml'

In [2]:
import yaml

ModuleNotFoundError: No module named 'yaml'